.avatar img {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  border: 2px solid #fff;
  box-shadow: 0 1px 8px 0 rgba(0, 20, 20, 0.2);
}

.title {
  padding: 0 10px;
  color: #fff;
  font-size: 23px;
}

.logout {
  width: 100%;
  text-align: end;
  padding: 0 10px;
  color: #fafafa;
  font-size: 17px;
  text-decoration-line: none;
  cursor: pointer;
}

.logout:hover {
  text-decoration-line: underline;
}

.header {
  background: linear-gradient(262deg, #ff7854, #fd267d);
  width: 100%;
  height: 80px;
  box-shadow: 0 1px 8px 0 rgba(0, 20, 20, 0.2);
  display: flex;
  align-items: center;
  padding: 0 20px;
}
