.wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.auth {
  color: #999;
  font-size: 16px;
  font-weight: normal;
  cursor: pointer;
  margin-top: 0 !important;
}

.auth:hover {
  color: #fd2a7b;
}

.form {
  width: 250px;
}

.form div {
  margin-top: 1rem;
}
