.content {
  width: 100%;
  display: flex;
  align-items: center;
  align-self: center;
  flex-direction: column;
}

.content span {
  color: slategrey;
  font-size: 20px;
  font-weight: normal;
  cursor: pointer;
}

.content span:hover {
  color: darkslategray;
  transition: 0.2s ease all;
}

.flex {
  display: flex;
}
