.card {
  position: relative;
  height: 450px;
}
.user {
  width: 380px;
  height: 450px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 1px 10px 0 rgba(0, 20, 20, 0.5);
}
.profile {
  position: absolute;
  display: flex;
  align-items: center;
  bottom: 20px;
  left: 20px;
}
.name {
  color: #fff;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 0.5px;
  text-shadow: 1px 1px 5px #444;
}

.name span {
  font-size: 26px;
}
.buttons {
  margin-top: 10px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.no i {
  color: #fd2e79;
  font-size: 33px;
}

.heart i {
  color: #11e298;
  font-size: 32px;
}

.no,
.heart {
  background-color: #fff;
  width: 70px;
  height: 70px;
  box-shadow: 0 1px 10px 0 rgba(0, 20, 20, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 70px;
  margin: 4px 10px;
  transition: 0.2s transform;
  border-color: transparent;
}
.no:focus,
.heart:focus {
  outline: none;
}
.no:hover,
.heart:hover {
  transform: scale(1.1);
}
